<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{modelo :: head}">
	<title>A Batalha de Filmes</title>
</head>

<body onload="onLoad()">

	<script>
		function onLoad() {
			var app = new Vue(
			{
				el : '#filmes',
				data : {
					filmes : []
				},
				mounted () {
					
					axios
				      .get('http://localhost:8080/api/filmes')
				      .then(response => (this.filmes = response.data.content))
				      console.log(response.data)
				}
			});
		}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<div th:replace="~{modelo :: logo}"></div>	
	
	<div class="container-fluid" id="filmes">
	
		<div th:replace="~{modelo :: titulo('Catálogo do Jogo')}"></div>	
		
        <div class="card mb-3" v-for="filme in filmes">
            
            <div class="card-header alert-warning"><a v-bind:href="filme.urlIMDB" target="_blank">{{filme.titulo}}</a></div>
            <div class="card-header alert-dark">{{filme.ano}} - {{filme.duracao}} minutos - {{filme.genero}}</div>
            
            <div class="card-body">
            	<div class="row">
                	<div class="col-12 col-sm-8 mb-3">
                       <div>Sinopse:</div>
						<div>
							<span class="form-control">{{filme.sinopse}}</span>
						</div>
						
						<div>Elenco:</div>
						<div>
							<span class="form-control">{{filme.elenco}}</span>
						</div> 
						<div>Diretor:</div>
						<div>
							<span class="form-control">{{filme.diretor}}</span>
						</div> 
					</div>
					<div class="col-12 col-sm-3">
						<div>
							<img class="img-thumbnail" v-bind:src="filme.urlPoster" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>